# Server Configuration
PROJECT_NAME="SiTernak API"
ENVIRONMENT=development
API_V1_STR=/api/v1
PORT=8000
HOST=0.0.0.0

# CORS Origins (Comma separated)
BACKEND_CORS_ORIGINS=http://localhost:5173,http://127.0.0.1:5173
